data/
!data/data.yaml

*.pt
*.onnx
*.engine
*.torchscript

runs/
runs_yolo26m/
runs_yolo26s/
fire_smoke_detection/

videos/

presentation_samples/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/

.ipynb_checkpoints/
*.ipynb_checkpoints

.venv/
venv/
env/
.env


.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db
desktop.ini

*.zip
*.tar
*.tar.gz
data.zip